/*
  Styling function buttons
*/
button.keyboard-button-alt {
    max-width: 70px;
}

.keyboard-button-alt span {
    text-align: center;
    max-width: 70px;
}

button.keyboard-button-altleft {
    max-width: 70px;
}

.keyboard-button-altleft span {
    text-align: center;
    max-width: 70px;
}

button.keyboard-button-altright {
    max-width: 70px;
}

.keyboard-button-altright span {
    text-align: center;
    max-width: 70px;
}

.keyboard-button-caps {
    max-width: 90px;
}

.keyboard-button-caps span {
    text-align: center;
    max-width: 90px;
}

button.keyboard-button-ctrl {
    max-width: 80px;
}

.keyboard-button-ctrl span{
    text-align: center;
    max-width: 80px;
}

button.keyboard-button-ctrlleft {
    max-width: 80px;
}

.keyboard-button-ctrlleft span {
    text-align: left;
    max-width: 80px;
}

.keyboard-button-ctrlright {
    max-width: 80px;
}

.keyboard-button-ctrlright span {
    text-align: right;
    max-width: 80px;
}

.keyboard-button-shift {
    max-width: 70px;
}

.keyboard-button-shift span {
    text-align: left;
    max-width: 70px;
}

.keyboard-button-shiftleft {
    max-width: 70px;
}

.keyboard-button-shiftleft span {
    text-align: left;
    max-width: 70px;
}

.keyboard-button-shiftright {
    max-width: 70px;
}

.keyboard-button-shiftright span {
    text-align: right;
    max-width: 70px;
}

.keyboard-button-tab {
    max-width: 90px;
}

.keyboard-button-tab span {
    text-align: center;
    max-width: 90px;
}

.keyboard-button-space {
    max-width: 100% !important;
}
