/*
  Theme: darkTheme
*/
.darkTheme {
  background-color: rgba(0, 0, 0, 0.8);
}

.darkTheme, .keyboard-input {
  background-color: #696666;
  border-bottom: 3px solid #726e6e;
  color: #FFFFFF;
}

.darkTheme .keyboard-border {
  border: 3px solid #e0dada;
  border-radius: 5px;
  padding: 5px;
}

.darkTheme, .selectText {
  color: white;
  font-size: 1em;
}

.darkTheme button.hg-button {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.darkTheme button.hg-button:hover {
  background-color: #e2e2e8;
  color: black;
}

.darkTheme button.hg-button.hg-activeButton {
  background: #58749f;
}

.darkTheme button.hg-button.hg-button-hold {
  background: #ffffff;
  color: black;
}
