/*
  Theme: dark-theme
*/
.dark-theme {
  background-color: rgba(0, 0, 0, 0.8);
}

.dark-theme ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
  opacity: 1; /* Firefox */
}

.dark-theme ::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  font-size: 0.8em;
  font-weight: bolder;
}

.dark-theme .keyboard-input {
  background-color: #696666;
  border-bottom: 3px solid #726e6e;
  color: #FFFFFF;
}

.dark-theme .keyboard-border {
  border: 3px solid #e0dada;
  border-radius: 5px;
  padding: 5px;
}

.dark-theme, .selectText {
  color: white;
  font-size: 1em;
}

.dark-theme button.keyboard-button {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.dark-theme button.keyboard-button:hover {
  background-color: #e2e2e8;
  color: black;
}

.dark-theme button.keyboard-button.hg-activeButton {
  background: #58749f;
}

.dark-theme button.keyboard-button.keyboard-button-hold {
  background: #ffffff;
  color: black;
}
