/**
 * Removing default button props.
 */
button {
  border: transparent;
}

.keyboard-button:active {
  background : var(--keyboard-button-border-color) !important;
  & > span {
    color: var(--keyboard-button-active-span-color) !important;
  }
}

.keyboard button.keyboard-button {
  align-items: center;
  background: var(--keyboard-button-background);
  border: 1px solid var(--keyboard-button-border-color);
  border-radius: 10px;
  color: var(--keyboard-button-color);
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  font-size: var(--keyboard-font-size);
  justify-content: center;
  line-height: 2em;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.keyboard button.keyboard-button:hover {
  border: 1px solid var(--keyboard-button-hover-border-color);
  background-color: var(--keyboard-button-hover-color);
}


.keyboard button.keyboard-button:hover span {
  color: var(--keyboard-button-color);
  font-weight: bold;
}

button.keyboard-button.activeButton {
  background: var(--keyboard-button-activeButton-background);
}

button.keyboard-button.activeButton span {
  color: var(--keyboard-button-activeButton-color);
  font-size: 1.1em;
}
