/**
 * Theme: hg-theme-default
 */

.hg-theme-default ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 0.8em;
  font-weight: bolder;
  opacity: 1; /* Firefox */
}

.hg-theme-default ::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  font-size: 0.8em;
  font-weight: bolder;
}

.hg-theme-default {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Segoe UI,Arial,sans-serif;
  overflow: hidden;
  touch-action: manipulation;
  user-select: none;
  width: 100%;
  z-index: 16001;
}

.hg-theme-default, .keyboard-border {
  border: 3px solid #dddddd;
  border-radius: 5px;
}

.hg-theme-default .keyboard-input {
  background-color: white;
  border-bottom: 3px solid #726e6e;
  border-radius: 4px;
  color: black;
  font-size: 1.2em;
  height: 40px;
  margin-bottom: 10px;
  width: 99%;
}

/*.ui-widget-content {*/
/*  border: 1px solid #dddddd;*/
/*  background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;*/
/*  color: #333333;*/
/*}*/

.hg-theme-default .selectText {
  color: black;
  font-size: 1em;
}

.hg-theme-default .hg-button span {
  color: #1c94c4;
  font-weight: bolder;
  pointer-events: none;
}

/* When using option "useButtonTag" */
.hg-theme-default button.hg-button {
  border-radius: 4px;
  border-bottom: 3px solid #726e6e;
  font-size: 1em;
  overflow: hidden;
}

.hg-theme-default .hg-button {
  display: inline-block;
  flex-grow: 1;
  cursor: pointer;
}

.hg-theme-default .hg-button:hover {
  background-color: #1c4995;
  color: white;
}

.hg-theme-default .hg-row {
  display: flex;
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}

.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}

.hg-theme-default .hg-row .hg-button-container {
  margin-right: 5px;
}

.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}

.hg-theme-default .hg-button {
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  height: 37px;
  width: 35px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  background: white;
  border-bottom: 3px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px;
}

.hg-theme-default .hg-button.hg-activeButton {
  background: #1481b4;
}

.hg-theme-default .hg-button.hg-button-hold {
  background: #0f4b67;
  color: whitesmoke;
}

.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}
