.keyboard {
  background: var(--keyboard-background);
  border: 1px solid var(--keyboard-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857143;
  max-width: 600px;
  overflow: hidden;
  padding: 0.3em;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  z-index: 16001;
}

.keyboard ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--keyboard-placeholder-font-color);
  font-size: var(--keyboard-font-size);
  font-weight: bold;
  opacity: 1; /* Firefox */
}

.keyboard ::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--keyboard-placeholder-font-color);
  font-size: var(--keyboard-font-size);
  font-weight: bold;
}

input.keyboard-input {
  background: var(--keyboard-input-background);
  border-bottom: 3px solid var(--keyboard-input-border-bottom);
  border-radius: 5px;
  color: var(--keyboard-font-color);
  font-size: var(--keyboard-font-size);
  height: 40px;
  margin: 5px 3px 5px 3px;
  width: 100%;
}

.keyboard .selectText {
  color: var(--keyboard-font-color);
  font-size: var(--keyboard-font-size);
}
