.keyboard-rows {
  // display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.keyboard-row {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.keyboard-row--first-row {
  justify-items: right;
}

.keyboard-row:not(:last-child) {
  margin-bottom: 3px;
}

.keyboard-row:last-child {
  margin-bottom: 10px;
}

.keyboard-row .keyboard-button:not(:last-child) {
  margin-inline-end: 3px;
}
