@media (min-width: 480px) {
  .keyboard button.keyboard-button {
    font-size: 0.8em;
    height: 20px;
    width: 15px;
  }
}

@media (min-width: 640px) {
  button.keyboard-button {
    height: 25px;
    width: 20px;
  }

  .keyboard-button-caps {
    min-width: 50px !important;
  }

  .keyboard-button-enter {
    min-width: 50px !important;
  }

  .keyboard-button-tab {
    width: 40px !important;
  }
}

@media (min-width: 1200px) {
  .keyboard button.keyboard-button {
    height: 35px;
    width: 30px;
  }
}
