select {
  appearance: none;
  background-color: var(--keyboard-select-background-color);
  border: 0;
  border-radius: 0.25em;
  color: var(--keyboard-select-option-color);
  cursor: pointer;
  font: inherit;
  font-size: 1em;
  font-weight: bold;
  height: 1.8em;
  outline: 0;
  padding: 0 4em 0 1em;

  option {
    background-color: var(--keyboard-select-option-background-color);
    color: var(--keyboard-select-option-color);
  }

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}
