:root {
  --keyboard-background-color: #ffffff;
  --keyboard-border-color: #dddddd;
  --keyboard-button-activeButton-background-color: #ffffff;
  --keyboard-button-background-color: #e7dfdf;
  --keyboard-button-color: #000000;
  --keyboard-button-hover-border-color: #fbcb09;
  --keyboard-button-hover-color: #fdf5ce;
  --keyboard-font-color: #000000;
  --keyboard-font-size: 1em;
  --keyboard-input-background-color: #ffffff;
  --keyboard-input-border-bottom: #726e6e;
  --keyboard-placeholder-font-color: #000000;
  --keyboard-select-option-background-color: #ececec;

  // Light mode variables
  --keyboard-background-color-light: #ffffff;
  --keyboard-border-color-light: #dddddd;
  --keyboard-button-activeButton-background-color-light: #d3aeae;
  --keyboard-button-background-color-light: #e7dfdf;
  --keyboard-button-color-light: #000000;
  --keyboard-button-hover-border-color-light: #fbcb09;
  --keyboard-button-hover-color-light: #fdf5ce;
  --keyboard-font-color-light: #000000;
  --keyboard-input-background-color-light: #ffffff;
  --keyboard-input-border-bottom-light: #726e6e;
  --keyboard-placeholder-font-color-light: #000000;
  --keyboard-select-option-background-color-light: #ececec;

  // Dark mode variables
  --keyboard-background-color-dark: #000000;
  --keyboard-border-color-dark: #dddddd;
  --keyboard-button-activeButton-background-color-dark: #ffffff;
  --keyboard-button-background-color-dark: #646161;
  --keyboard-button-color-dark: #ffffff;
  --keyboard-button-hover-border-color-dark: #59b4d4;
  --keyboard-button-hover-color-dark: #0078a3;
  --keyboard-font-color-dark: #ffffff;
  --keyboard-input-background-color-dark: #000000;
  --keyboard-input-border-bottom-dark: #726e6e;
  --keyboard-placeholder-font-color-dark: #ffffff;
  --keyboard-select-option-background-color-dark: #726e6e;
}

@media(prefers-color-scheme: light) {
  :root {
    --keyboard-background-color: var(--keyboard-background-color-light);
    --keyboard-border-color: var(--keyboard-border-color-light);
    --keyboard-button-activeButton-background-color: var(--keyboard-button-activeButton-background-color-light);
    --keyboard-button-background-color: var(--keyboard-button-background-color-light);
    --keyboard-button-color: var(--keyboard-button-color-light);
    --keyboard-button-hover-border-color: var(--keyboard-button-hover-border-color-light);
    --keyboard-button-hover-color: var(--keyboard-button-hover-color-light);
    --keyboard-font-color: var(--keyboard-font-color-light);
    --keyboard-input-background-color: var(--keyboard-input-background-color-light);
    --keyboard-input-border-bottom: var(--keyboard-input-border-bottom-light);
    --keyboard-placeholder-font-color: var(--keyboard-placeholder-font-color-light);
    --keyboard-select-option-background-color: var(--keyboard-select-option-background-color-light);
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --keyboard-background-color: var(--keyboard-background-color-dark);
    --keyboard-border-color: var(--keyboard-border-color-dark);
    --keyboard-button-activeButton-background-color: var(--keyboard-button-activeButton-background-color-dark);
    --keyboard-button-background-color: var(--keyboard-button-background-color-dark);
    --keyboard-button-color: var(--keyboard-button-color-dark);
    --keyboard-button-hover-border-color: var(--keyboard-button-hover-border-color-dark);
    --keyboard-button-hover-color: var(--keyboard-button-hover-color-dark);
    --keyboard-font-color: var(--keyboard-font-color-dark);
    --keyboard-input-background-color: var(--keyboard-input-background-color-dark);
    --keyboard-input-border-bottom: var(--keyboard-input-border-bottom-dark);
    --keyboard-placeholder-font-color: var(--keyboard-placeholder-font-color-dark);
    --keyboard-select-option-background-color: var(--keyboard-select-option-background-color-dark);
  }
}

[color-scheme="light"] {
  --keyboard-background-color: var(--keyboard-background-color-light);
  --keyboard-border-color: var(--keyboard-border-color-light);
  --keyboard-button-activeButton-background-color: var(--keyboard-button-activeButton-background-color-light);
  --keyboard-button-background-color: var(--keyboard-button-background-color-light);
  --keyboard-button-color: var(--keyboard-button-color-light);
  --keyboard-button-hover-border-color: var(--keyboard-button-hover-border-color-light);
  --keyboard-button-hover-color: var(--keyboard-button-hover-color-light);
  --keyboard-font-color: var(--keyboard-font-color-light);
  --keyboard-input-background-color: var(--keyboard-input-background-color-light);
  --keyboard-input-border-bottom: var(--keyboard-input-border-bottom-light);
  --keyboard-placeholder-font-color: var(--keyboard-placeholder-font-color-light);
  --keyboard-select-option-background-color: var(--keyboard-select-option-background-color-light);
}

[color-scheme="dark"] {
  --keyboard-background-color: var(--keyboard-background-color-dark);
  --keyboard-border-color: var(--keyboard-border-color-dark);
  --keyboard-button-activeButton-background-color: var(--keyboard-button-activeButton-background-color-dark);
  --keyboard-button-background-color: var(--keyboard-button-background-color-dark);
  --keyboard-button-color: var(--keyboard-button-color-dark);
  --keyboard-button-hover-border-color: var(--keyboard-button-hover-border-color-dark);
  --keyboard-button-hover-color: var(--keyboard-button-hover-color-dark);
  --keyboard-font-color: var(--keyboard-font-color-dark);
  --keyboard-input-background-color: var(--keyboard-input-background-color-dark);
  --keyboard-input-border-bottom: var(--keyboard-input-border-bottom-dark);
  --keyboard-placeholder-font-color: var(--keyboard-placeholder-font-color-dark);
  --keyboard-select-option-background-color: var(--keyboard-select-option-background-color-dark);
}
